.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(19, 3, 75);
    padding-bottom: 10px;
}

.principal_img {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;    
}

.sub_imgs {
    text-align: center;
}

.sub_imgs img {
    margin: 5px 5px 5px 5px;
}