/* Estilos relativos á pagina principal */

body {
    /*
    background-image: 
    url("https://images.alphacoders.com/211/thumb-1920-211691.jpg");*/
    background-image: url("C:/Users/Public/Pictures/Sample Pictures/2560x1600_obj252_wall.jpg"); 
}

#topo {
    color: white;
    text-align: center;
    font-size: 150px;
}

.principal {
    text-align: center;
    margin: 0px;
    padding: 0px;
    top: 0px;
}

#titulo-principal {
    color:white;
    text-align: center;
    font-family: Garamond;
    font-size: 100px;
    text-shadow: 5px 5px #2F4F4F; 
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    opacity: 0.75;
    text-align: center;   
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container a {
    color: #fff;
    padding: 13px 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px; 
    text-align: center;
}

.container a:hover {   
    background: black;
}

.cabecalho {
    text-align: center;
    margin-top: 95px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.cabecalho p {
    color: white;
    font-size: 13px;
    font-family: monospace;
}