/* Estilos relativos à página dos artigos */

body {
    /*background-image: 
    url("https://images.alphacoders.com/211/thumb-1920-211691.jpg");
    */
    background-image: url("C:/Users/Public/Pictures/Sample Pictures/october17_calendar_1920x1080.jpg");
}

h1 {
    color: white;
    opacity: 1;
}

.titulo {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: black;
    opacity: 0.5; 
    margin: -5px auto 0px auto;
    align-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.grid {
    display: grid;
    max-width: 1500px;
    position: relative;
    margin: auto;
    grid-gap: 20px;
    grid-template-areas: "nav content";
    grid-template-columns: 300px 500px;
    grid-auto-rows: 600px; 
}

nav {
    grid-area: nav;
    display: inline-block;
    margin-top: 5px;
    text-align: center;
    padding-top: 50px;
    margin-left: 20px;
}

.link_artigo {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
}

.content {
    grid-area: content;
    margin-top: 5px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}

.cabecalho {
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.cabecalho p {
    color: white;
    font-size: 13px;
    font-family: monospace;
}
