/* Estilos relativos á pagina principal */

body {
    background-image: 
    url("https://images.alphacoders.com/211/thumb-1920-211691.jpg");
}

.principal {
    text-align: center;
}
.principal .container {
    position: relative;
}    

.container {
    opacity: 0.75;
}

#titulo-principal {
    color:white;
    text-align: center;
    font-family: Garamond;
    font-size: 100px;
    text-shadow: 5px 5px #2F4F4F; 
    margin: 135px;
}

.btn {
    color: #fff;
    background: #000;
    padding: 13px 50px;
    text-decoration: none; 
    transition: background .5s; 
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}

/* Estilos relativos à página Sobre.html */

#tit_principal {
    color: white;
    text-align: center;
    font-family: Century;
    font-size: 50px;
    margin: 135px;
}

.style_dados {
    color: white;
    text-align: center;
    line-height: 5px;
    height: auto;
    font-family: 'Consolas';
}