@import url('users.css');

.session {
    height: 50px;
}

.session #session-name {
    float: right;    
}

.session #logout {
    float: right;
}

.menu-nav {
    list-style-type: none;
    margin: 5px 1px 5px 1px;
    background-color: #333;
    display: grid;
    grid-template-areas: "pagina-inicial registo login show-users";
}

.menu-nav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.menu-nav #pagina-inicial {
    grid-area: pagina-inicial;
}

.menu-nav #registo {
    grid-area: registo;
}

.menu-nav #login {
    grid-area: login;
}

.menu-nav #show-users {
    grid-area: show-users; 
}

.menu-nav a:hover {
    background-color: rgb(137, 43, 96);
    color: white;
}

.menu-nav a:active {
    background-color: rgb(110, 40, 70);
    color: white;
}

.menu-nav .active {
    background-color: rgb(197, 123, 123);
    color: black;
}

footer span {
    color: red;
}