table {
    margin-top: 30px;
}

tr {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: rgb(0, 27, 146);
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

td {
    background-color: rgb(226, 226, 226);
    padding: 10px 20px 10px 20px;
    color: black;
}