.mainColor {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}


.table {
    display: grid;
    width: 800px;
    height: 350px;
    grid-template-areas: 
        "s1 s2 s3 s4"
        "s5 s6 s7 s8"
        "s9 s10 s11 s12" 
        "s13 s14 s15 s16";
    grid-template-columns: 25% 25%;
    margin: 0px auto;
    border: 1px black solid;
}

.table section {
    text-align: center;
    padding-top: 18%;
    border: 1px black solid; 
}

#s1 {
    grid-area: s1;
}

#s2 {
    grid-area: s2; 
}

#s3 {
    grid-area: s3; 
}

#s4 {
    grid-area: s4;
}

#s5 {
    grid-area: s5; 
}

#s6 {
    grid-area: s6;
}

#s7 {
    grid-area: s7;
}

#s8 {
    grid-area: s8;
}

#s9 {
    grid-area: s9;
}

#s10 {
    grid-area: s10;
}

#s11 {
    grid-area: s11;
}

#s12 {
    grid-area: s12;
}

#s13 {
    grid-area: s13;
}

#s14 {
    grid-area: s14;
}

#s15 {
    grid-area: s15;
}

#s16 {
    grid-area: s16;
}