body {
    background: rgb(212, 212, 252);
    margin: 0px;
}

.content {
    width: 600px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(11, 5, 63);
    border: 3px solid rgb(3, 5, 80);
    border-style: ridge;
}

.inscricao {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding: 25px 15px;
    border-bottom: 1px solid green;
}

.detalhesCondutor {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 25px 15px;
    font-size: 15px;
    line-height: 20px;
    line-height: 20px;
}

#mail {
    width: 85%;
}

#confirmaMail {
    width: 85%;
}

input {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: green;
}

#validacaoTermos {
    width: 20px;
    height: 20px;
    vertical-align: auto;
}

button {
    background: white;
    border-radius: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
    height: 50px;
    vertical-align: auto;
    border: 2px solid rgb(0, 255, 0);
    border-style: groove;
}

.button {
    color: rgb(44, 156, 44);
    width: 230px;
    height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    display: block;
}

button:hover {
    background: rgb(203, 250, 201);
}

.line {
    display: block;
    width: 170px;
    float: left;
    margin-top: 5px;
    padding-left: 15px;
}

img {
    width: 30px;
    height: 30px;
    float: left;
    padding-left: 3px;
}
